apparmor==4.1.7
argcomplete==3.7.2
attrs==26.1.0
autocommand==2.2.2
Brlapi==0.8.8
build==1.4.3
caelestia==1.1.2
certifi==2026.7.22
cffi==2.1.1
click==8.3.3
cryptography==49.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
defusedxml==0.7.1
distlib==0.4.3
distro==1.9.0
editables==0.6
filelock==3.29.3
gps==3.27.5
h11==0.16.0
hatch==1.17.0
hatch-vcs==0.5.0
hatchling==1.30.1
httpcore2==2.3.0
httpx2==2.3.0
hyperlink==21.0.0
hyprland-config==0.9.10
hyprland-monitors==0.8.0
hyprland-schema==0.6.3
hyprland-socket==0.12.2
hyprland-state==0.4.3
hyprmod==0.4.0
idna==3.18
installer==1.0.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
jeepney==0.9.0
keyring==25.7.0
legacy-cgi==2.6.4
LibAppArmor==4.1.7
louis==3.38.0
markdown-it-py==4.2.0
materialyoucolor==3.0.2
mdurl==0.1.2
meson==1.11.2
more-itertools==11.1.0
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
packaging==26.3
pathspec==1.1.1
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.11.1
pluggy==1.6.0
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
pybind11==3.1.0
pycairo==1.29.1
pycparser==3.0
pycups==2.0.4
pygdbmi==0.11.0.0
Pygments==2.20.0
PyGObject==3.56.3
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.19.0
python-discovery==1.5.1
pyxdg==0.28
qasync==0.28.0
rich==15.0.0
SecretStorage==3.5.0
sentry-sdk==2.66.1
setproctitle==1.3.7
setuptools==84.0.0
setuptools-scm==10.2.1
shellingham==1.5.4
six==1.17.0
smbus==1.1
TBB @ file:///build/onetbb/src/build/python/python_build
tomli_w==1.2.0
tomlkit==0.15.1
tqdm==4.70.0
trash-cli==0.24.5.26
trove-classifiers==2026.6.1.19
truststore==0.10.4
typing_extensions==4.16.0
ufw==0.36.2
urllib3==2.7.0
userpath==1.9.2
uv==0.12.3
VapourSynth==77
vcs-versioning==2.2.4
virtualenv==21.7.2
wheel==0.47.0
